{% import "./macros.html" as macros %}
{% extends "layout.html" %}
{% from "components/card/template.html" import Card -%}

{% block article_body %}

<div class="o-grid-row">
  <div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
    {% markdown %}

    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    {% endmarkdown %}

    <div class="table-caption">Compensation</div>
  </div>
</div>

<div class="o-grid-row">
  <div id="react-app1" class="table-container">
    <div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
      <div class="loading">Loading chart…</div>
    </div>
  </div>
</div>

<div class="o-grid-row">
  <div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
    {% markdown %}

    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    {% endmarkdown %}

    <div class="table-caption">Share gains</div>
  </div>
</div>

<div class="o-grid-row">
  <div id="react-app2" class="table-container">
    <div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
      <div class="loading">Loading chart…</div>
    </div>
  </div>
</div>

<div class="o-grid-row">
  <div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
    {% markdown %}

    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    {% endmarkdown %}

    <div class="table-caption">Combined compensation and shares</div>
  </div>
</div>

<div class="o-grid-row">
  <div id="react-app3" class="table-container">
    <div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
      <div class="loading">Loading chart…</div>
    </div>
  </div>
</div>

<div class="o-grid-row">
  <div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
    {% markdown %}

    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    {% endmarkdown %}

    <!-- {# START MID AD SLOT
        You can move this wherever it works best in your page's design.
        For more control over the size, write your own o-ads div - see
        https://financial-times.github.io/o-ads/docs/developer-guide/display #}
    {% if ads %}{{ macros.middleAd() }}{% endif %}
    {# END MID AD SLOT #} -->
  </div>
</div>

<div class="o-grid-row">
  <div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
    {# repeating card section starts #}
    {% for item in cards %}
    {{ Card(item) }}
    {% endfor %}
    {# repeating card section ends #}
  </div>
</div>

{% endblock %}
