{% import "./macros.html" as macros %}
{% extends "layout.html" %}
{% from "components/card/template.html" import Card -%}

{% block article_body %}

<div class="o-grid-row">
  <div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
    {% markdown %}

    American banks' bosses took all five of the top slots in this year's bank CEO pay rankings, as the pay gap widened between the giants of Wall Street and their peers across the rest of the world. JPMorgan's Jamie Dimon was out in front for the second year in a row, with a total package of $28.2m. Wells Fargo fell well down the rankings, as new chief executive Tim Sloan received a much smaller package than predecessor John Stumpf, who was forced out after a mis-selling scandal.

    _Click on the table rows to read individual CEOs' profiles._

    <div class="table-caption">Compensation</div>

    <div id="react-app1" class="table-container">
      <div class="loading">Loading chart…</div>
    </div>

    <footer class="o-typography-footer" style="margin-bottom: 0.5em">Source: Equilar</footer>

    For the men running JPMorgan and Goldman Sachs, the increase in the value of their bank shares was a far more significant contributor to their overall wealth than the $20m-plus they were each paid. European bank CEOs did not do as well, partly because their shares did not enjoy the same ‘Trump rally’ that lifted US bank stocks in the aftermath of the 2016 presidential election.

    <div class="table-caption">Share gains</div>

    <div id="react-app2" class="table-container">
      <div class="loading">Loading chart…</div>
    </div>

    <footer class="o-typography-footer" style="margin-bottom: 0.5em">
      Source: FT research<br />
      * António Horta-Osório, Tidjane Thiam and Ross McEwan suffered significant falls in the value of their bank holdings during the year.
    </footer>

    The chart below shows the total financial benefit bank CEOs received from their institutions in 2016. Americans once again lead the way, with Jamie Dimon closing in on the $200m mark for his year's work at JPMorgan. Since all the figures are expressed in US dollars, the amounts non-US executives made look smaller than they would have under historic exchange rates.

    <div class="table-caption">Combined compensation and share gains</div>

    <div id="react-app3" class="table-container">
      <div class="loading">Loading chart…</div>
    </div>

    <footer class="o-typography-footer" style="margin-bottom: 0.5em">Sources: Equilar; FT research</footer>

    <p>
      <em>Parts of this page were derived from previous versions of this annual feature by Steve Bernard, Ben McLannahan, Martin Arnold, James Shotter, Jamie Smyth, Emma Dunkley, Alistair Gray, Megan Murphy, Daniel Schäfer and Patrick Mathurin:</em>
      <a href="https://ig.ft.com/sites/bank-ceo-compensation/2016/">2015</a> |
      <a href="http://www.ft.com/ig/sites/2015/bank-ceo-compensation-2015/">2014</a> |
      <a href="http://ig-legacy.ft.com/content/f77c7694-e7f9-11e3-9af8-00144feabdc0#axzz4nfQkoY94">2013</a> |
      <a href="http://www.ft.com/cms/s/0/37049d24-da58-11e2-8062-00144feab7de.html">2012</a> |
      <a href="http://www.ft.com/cms/s/0/3b4cf68a-bc70-11e1-a836-00144feabdc0.html">2011</a> |
      <a href="http://www.ft.com/cms/s/0/bb5b697a-95a6-11e0-8f82-00144feab49a.html">2010</a> |
      <a href="http://www.ft.com/cms/s/0/dd7d53b6-a6f9-11df-90e5-00144feabdc0.html">2009</a>
    </p>

    {% endmarkdown %}

    <!-- {# START MID AD SLOT
        You can move this wherever it works best in your page's design.
        For more control over the size, write your own o-ads div - see
        https://financial-times.github.io/o-ads/docs/developer-guide/display #}
    {% if ads %}{{ macros.middleAd() }}{% endif %}
    {# END MID AD SLOT #} -->
  </div>
</div>

<div class="o-grid-row">
  <div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
    {# repeating card section starts #}
    {% for item in cards %}
    {{ Card(item) }}
    {% endfor %}
    {# repeating card section ends #}
  </div>
</div>

{% endblock %}
