$o-grid-is-silent: false;

@import "o-grid/main";

@import 'o-fonts/main';
@import 'o-colors/main';

@import 'functions';
@import 'var';
@import 'fonts';


body {
  @include oColorsFor(page, background);

  margin: 0;
  border: 0;
  font-family: font(MetricWeb);
}


html {
    width: 100%;
    border-top: 0;
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

#main-content {
    position: relative;
}


#ft-header {
    height: 40px;
    background-color: oColorsGetPaletteColor('pink');
    width: 100%;
    z-index: 50;
    overflow: hidden;
    text-align: center;
    border-bottom: 1px solid #cec6b9;
    margin-bottom: 10px;
    a > img {
        margin-top: 12px;
        opacity: 0.8;
        transition: opacity 0.3s;
        height: 15px;
    }
    a > img:hover {
        opacity: 1;
    }
}

.main-panel {
    // width:55%;
    float: none;
    // margin: 0 auto 24px;
    h1 {
      font-family: $serif-display;
      font-size: 2em;
      font-weight: normal;
      width: 100%;
      text-align: center;
      margin-top: 0;
      margin-bottom: 1rem;
    }
    .introtext {
      font-family: $serif;
      font-size: 1em;
      color: oColorsGetPaletteColor('grey-tint5');
      max-width: 600px;
      text-align: center;
      line-height: 1.35em;
      margin: 0 auto 1em;
    }
}


.bio-panel { 
    float: none;
    margin: 0 auto;
    max-width: 600px;
}

.bio-chart {
    margin-bottom: 4px;
}

.bio {
    margin-bottom: 24px;
    border-bottom: 1px solid oColorsGetPaletteColor('pink-tint3');
    width: 100%;
}

.bio,
.main-panel,
.year-bar {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
}

.year-bar {
    .ceo-year {
        float: left;
        font-family: $sans;
        font-size: 12px;
        color: oColorsGetPaletteColor('pink-tint5');
        background-color: oColorsGetPaletteColor('pink-tint1');
        height: 16px;
        padding: 2px 4px 4px;
        max-width: 40px;
        width: 20%;
    }
    .bar {
        // width: 60%; 
        float: left;

    }
}

.ceo-total {

    float: right;
    font-family: $sans;
    font-size: 14px;
    color: oColorsGetPaletteColor('grey-tint5');
    font-weight: 600;
    text-align: right;
    padding-top: 8px;
}

.year-bar .ceo-total {
  min-width: 60px;
}

#main-pic {
    float: left;
    margin-right: 12px;
    margin-bottom: 12px;
    img {
      width: 80px;
    }
}

#rank {
    font-family: Clarion, Georgia, "Times New Roman", Times, serif;
    font-size: 48px;
    color: oColorsGetPaletteColor('pink-tint4');
    margin-bottom: 4px;
    .pay {
        font-family: $sans;
        font-weight: 200;
        font-size: 30px;
        color: oColorsGetPaletteColor('pink-tint5'); 
        display: inline-block;
    }
}

#profile-name {
    font-family: $sans;
    font-size: 24px;
    color: #712428;
    margin-bottom: 4px;
}

.top-link {
  color: oColorsGetColorFor(link, text);
  position: relative;
  font-size: 13px;
  float: right;
  text-decoration: none;
  margin-bottom: 4px;
  &:before {
    content: '\25B2';
    font-size: 9px;
  }
}
#company {
    font-family: $sans;
    font-size: 18px;
    color: oColorsGetPaletteColor('pink-tint4'); 
    margin-bottom: 5px;
    left: 228px;     
}

.years {
    // width: 100%;
    font-weight: bold;
    font-family: $sans;
    font-size: 17px;
    margin-bottom: 6px;
    overflow: auto;
}

hr {
    border: 0;
    height: 1px;
    border-bottom: 1px solid oColorsGetPaletteColor('pink-tint3');
    margin-bottom: 20px;
}


#profile-txt {
    font-family: $sans;
    font-size: 17px;
    font-weight: 200;
    line-height: 23px;
    color: oColorsGetPaletteColor('grey-tint5');
    margin-top: 12px;
    margin-bottom: 8px;
}

.ceos {
    position: relative;
    top: 10px;
    width: 100%;
    background-color: oColorsGetPaletteColor('pink-tint1');
    height: 34px;
}

.ceo {
    // width:38%;
    width: 120px;
    float: left;
    height: 34px;
    background-color: oColorsGetPaletteColor('pink-tint1');
    margin-bottom: 1px;
    cursor: pointer;
    border-left: 0;
    display: -webkit-flex;
    // flex-flow: flex-direction;
    -webkit-justify-content:space-between;
    -webkit-align-items: center;
}

.ceo.selected,
.ceo:hover {
    border-left-color: #712428;
}

.ceo-name {
    float: left;
    font-family: $sans;
    color: oColorsGetPaletteColor('grey-tint5');
    font-size: 15px;
    padding-left: 0;
    pointer-events: none;
}

.small-pic {
    float: right;
    display: none;
    img {
        width: 30px;
        height: 30px;
    }
}

.chart {
    // float: left;
    // width: 100%;
    margin-bottom: 20px;
}

.ceos .bar {
    float: left;
    margin-top: 2px;
    padding: 0;

    svg {
        height: 34px;
        width: 100%;
    }
}

.bio-chart .year-bar {
    background-color: oColorsGetPaletteColor('pink-tint1');
    height: 19px;
    margin-bottom: 2px;
    .ceo-total {
        padding-top: 0;
    }
}

.bio-chart .bar svg {
    width: 100%;
    height: 16px;
}

#chart-holder {
    float: left;
    // width: 60%;
    height: 596px;
    margin-left: 2px;
    margin-top: -11px;
}

.key-holder {
    width: 100%;
    font-size: 13px;
    font-family: $sans;
    color: oColorsGetPaletteColor('grey-tint5');
}

.key-title {
    font-weight: bold;
    font-size: 15px;
    margin-right: 21px;
}

.key-item {
    margin-right: 16px;
    float: none;
    &:first-child {
        margin-right: 20px;
    }
}


.key-marker-line {
    width: 20px;
    float: left;
    margin-right: 4px;
    margin-top: 5px;
    height: 8px;
}

.key-text {
    margin-left: 24px;
    margin-top: 1px;
    font-size: 13px;
}

.cashbonus {
    fill: #b33328;
    background-color: #b33328;
}

.base {
   fill: #db7365;
   background-color: #db7365;
}

.other {
    fill: #efbcb8;
    background-color: #efbcb8;
}

.total-label {
    float: right;
    font-size: 14px;
    font-weight: 600;
}

.footnote {
    font-size: 12px;
    position: absolute;
    top: 570px;
    float: left;
    left: 2px;
}

@include oGridRespondTo($from: S) {
    .small-pic {
      display: block;
    }
    .main-panel {
      h1 {
        font-size: 3em;
      }
      .introtext {
        font-size: 1.2em;
        line-height: 1.5em;
        margin-bottom: 1.5em;
      }
    }

    hr {
      margin-bottom: 36px;
    }
    
    #rank {
      font-size: 54px;
      .pay {
        display: none;
      }
    }
    
    #main-pic {
      img {
        width: 128px;
      }
    }
    #profile-name {
      font-size: 30px;
    }
    #company {
      font-size: 21px;
    }

    .table-holder {
        display: block;
    }
    .ceo {
        width: 180px;
        border-left: 5px solid;
        border-left-color: transparent; 
        transition: border-left-color 0.3s;
    }
    .ceo-name {
      padding-left: 4px;
    }
    .key-item {
        float: left;
    }
    #ft-header {
        height: 50px;
        background-color: oColorsGetColorFor(page, background);
        width: 100%;
        z-index: 50;
        overflow: hidden;
        text-align: center;
        border-bottom: 1px solid #cec6b9;
        margin-bottom: 20px;
        a > img {
            height: 20px;
            margin-top: 13px;
            opacity: 0.8;
            transition: opacity 0.3s;
        }
        a > img:hover {
            opacity: 1;
        }
    }
}
