{% from "components/myft-follow/button.html" import FollowButton -%}

{% macro Card(i) %}
  <div class="card-position" data-o-component="o-card" id="{{ i.ceo.id }}">
    <div style="display: flex; flex-direction: row; flex-wrap: nowrap; align-items: flex-start">
      <figure class="card-position__image">
        <img alt="" src="https://www.ft.com/__origami/service/image/v2/images/raw/{{ i.ceo.imgurl }}?source=ig&fit=scale-down&width=700" width="64px"/>
      </figure>

      <div style="align-self: center; width: 100%">
        <h2 class="card-position__name">
          {{ i.ceo.name }}
        </h2>
        <a href="{{ i.company.fturl }}" class="o-typography-link-topic o-typography-link-topic--medium">
          {{ i.company.name }}
        </a>
      </div>

      <div class="follow-button-container">
        {{ FollowButton(i.topicid, i.ceo.name, 'people')}}
      </div>
    </div>

    <div class="card-position__body">
      {{ i.copy | safe }}

      <p style="margin-bottom: 0">
        <a href="#">
          <i class="icon-arrow-up"></i>Back to top
        </a>
      </p>
    </div>
  </div>
{% endmacro %}
