.fixedDataTableCellLayout_main {
  border: none;
}

/**
 * Table.
 */
.public_fixedDataTable_main {
  border: none;
}

.public_fixedDataTable_header,
.public_fixedDataTable_hasBottomBorder {
  border-bottom-width: 0;
}

.public_fixedDataTable_header .public_fixedDataTableCell_main {
  font-weight: 600;
}

.public_fixedDataTable_header,
.public_fixedDataTable_header .public_fixedDataTableCell_main {
  background-color: #fff1e0;
  background-image: none;
}

.public_fixedDataTable_horizontalScrollbar .public_Scrollbar_mainHorizontal {
  background-color: #fff1e0;
}

/**
 * Table cell.
 */
.public_fixedDataTableCell_main {
  background-color: #fff1e0;
}

.public_fixedDataTableCell_cellContent {
  padding: 8px;
}

/**
 * Table row.
 */
.public_fixedDataTableRow_highlighted,
.public_fixedDataTableRow_highlighted .public_fixedDataTableCell_main {
  background-color: #f2dfce;
}

.article-body div[data-o-grid-colspan]{
  .table-container {
    max-width: 100%;
  }
}

.cell {
  font-size: 14px;
  &.header-cell {
    .fixedDataTableCellLayout_wrap3 {
      vertical-align: bottom;
    }
  }
  &.number-cell {
    -webkit-font-feature-settings: 'tnum';
    -moz-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
  }
}


@media (min-width: 490px) {
  .cell {
    font-size: 16px;
  }
}

@media (min-width: 1220px) {
  .cell {
    font-size: 18px;
  }
}
