@import 'o-forms/main';

@include oForms;

$o-icons-is-silent: false;

.fixedDataTableCellLayout_main {
  border: none;
}

/**
 * Table.
 */
.public_fixedDataTable_main {
  border: none;
}

.public_fixedDataTable_header,
.public_fixedDataTable_hasBottomBorder {
  border-bottom-width: 0;
}

.public_fixedDataTable_header .public_fixedDataTableCell_main {
  font-weight: 600;
}

.public_fixedDataTable_header,
.public_fixedDataTable_header .public_fixedDataTableCell_main {
  background-color: #fff1e0;
  background-image: none;
}

.public_fixedDataTable_horizontalScrollbar .public_Scrollbar_mainHorizontal {
  background-color: #fff1e0;
}

/**
 * Table cell.
 */
.public_fixedDataTableCell_main {
  background-color: #fff1e0;
}

.public_fixedDataTableCell_cellContent {
  padding: 8px;
}

/**
 * Table row.
 */
.public_fixedDataTableRow_highlighted,
.public_fixedDataTableRow_highlighted .public_fixedDataTableCell_main {
  background-color: #ffe9d7;
}

.article-body .fixedDataTableLayout_main.public_fixedDataTable_main {
  max-width: 100%;
}

.cell {
  font-size: 14px;
  color: #333;
  &.header-cell {
    color: #4d4845;
    .fixedDataTableCellLayout_wrap3 {
      vertical-align: bottom;
    }
  }
  &.number-cell {
    text-align: right;
    -webkit-font-feature-settings: 'tnum';
    -moz-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
  }
  img {
    display: inline-block;
    margin-right: 8px;
    border: 2px solid #999189;
    border-radius: 50%;
    vertical-align: middle;
  }
  .executive-name {
    display: inline-block;
    vertical-align: middle;
  }
  .o-typography-link-topic {
    font-size: 11px;
    color: #9e2f50;
    border-bottom: none;
  }
}

@media (max-width: 375px) {
  .cell {
    &.header-cell {
      .fixedDataTableCellLayout_wrap3 {
        padding-right: 8px;
      }
    }
    &.number-cell {
      .fixedDataTableCellLayout_wrap3 {
        padding-right: 8px;
      }
    }
  }
}

@media (min-width: 490px) {
  .cell {
    font-size: 16px;
    .o-typography-link-topic {
      font-size: 13px;
    }
  }
}

@media (min-width: 1220px) {
  .cell {
    font-size: 18px;
    .o-typography-link-topic {
      font-size: 15px;
    }
  }
}

.cell-enter {
  opacity: 0;
}

.cell-enter.cell-enter-active {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in;
  -moz-transition: opacity 300ms ease-in;
  -o-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}

.cell-leave {
  opacity: 1;
}

.cell-leave.cell-leave-active {
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  -o-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}
