<header id="ft-header">
  <a href="//www.ft.com/"><img src="//interactivegraphics.ft-static.com/sites/2014/deficit-calculator/images/content/ft.svg" alt="Financial Times" height="20"></a>
</header>
<div class="o-grid-row">
    <div data-o-grid-colspan="L10 M10 S12" class="mainPanel">
        <div class="keyHolder">
            <div class="keyItem">
                <div class="keyTitle">Breakdown of pay, 2013</div>
            </div>
            <div class="keyItem">
                <div class="keyMarkerLine base"></div>
                <div class="keyText">Base salary</div>
            </div>
            <div class="keyItem">
                <div class="keyMarkerLine cashbonus"></div>
                <div class="keyText">Cash bonus</div>
            </div>
            <div class="keyItem">
                <div class="keyMarkerLine other"></div>
                <div class="keyText">Stock, options and other</div>
            </div>
            <div class="totalLabel">Total</div>
        </div>
        <div class="chart"></div>
    </div>
    <hr>
    <div class="bioPanel" data-o-grid-colspan="L8 M10 S12"></div>
</div>