<header id="ft-header">
  <a href="//www.ft.com/"><img src="//interactivegraphics.ft-static.com/sites/2014/deficit-calculator/images/content/ft.svg" alt="Financial Times" height="20"></a>
</header>
<div class="o-grid-row">
    <div data-o-grid-colspan="L10 M10 S12 center" class="main-panel">
        <h1>{{introtitle}}</h1>
        <div class="introtext">{{introtext}}</div>
        <div class="slider-holder">
            <div class="slider"></div>
        </div>
        <div class="key-holder">
            <div class="key-item">
                <div class="key-title">Breakdown of pay, 2013</div>
            </div>
            <div class="key-item">
                <div class="key-marker-line base"></div>
                <div class="key-text">Base salary</div>
            </div>
            <div class="key-item">
                <div class="key-marker-line cashbonus"></div>
                <div class="key-text">Cash bonus</div>
            </div>
            <div class="key-item">
                <div class="key-marker-line other"></div>
                <div class="key-text">Stock, options and other</div>
            </div>
            <div class="total-label">Total</div>
        </div>
        <div class="chart"></div>
    </div>
    <hr>
    <div class="bio-panel" data-o-grid-colspan="L8 M10 S12"></div>
</div>