<header id="ft-header">
  <a href="//www.ft.com/"><img src="//interactivegraphics.ft-static.com/sites/2014/deficit-calculator/images/content/ft.svg" alt="Financial Times" height="20" /></a>
</header>

<div class="o-grid-container">
  <div class="o-grid-row">
      <div data-o-grid-colspan="L10 M10 S12 center" class="main-panel">
        <aside class="share-links"><a href="https://twitter.com/intent/tweet?url=https://ig.ft.com/sites/2016/bank-ceos-pay/&amp;text=Bank%20chief%20executives'%20pay%202013-2015&amp;related=%40FT&amp;via=FT" target="_blank" title="Share on Twitter" class="share-links__link share-links__link--twitter"><span>Share on Twitter</span></a><a href="https://facebook.com/sharer/sharer.php?u=https://ig.ft.com%2Fsites%2F2016%2Fbank-ceos-pay" target="_blank" title="Share on Facebook" class="share-links__link share-links__link--facebook"><span>Share on Facebook</span></a><a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fig.ft.com%2Fsites%2F2016%2Fbank-ceos-pay&amp;title=Bank%20chief%20executives'%20pay%202013-2015" target="_blank" title="Share on LinkedIn" class="share-links__link share-links__link--linkedin"><span>Share on LinkedIn</span></a></aside>
        <div class="o-typography-flyline">
          <a href="https://next.ft.com/companies/banks" class="o-typography-flyline__link">Banks</a>
        </div>

        <h1 class="o-typography-heading1">{{introtitle}}</h1>

        <p>
          <span class="article__byline">By <a href="https://next.ft.com/stream/authorsId/Q0ItTE41Njc4OQ==-QXV0aG9ycw==" target="_blank">Laura Noonan</a>, <a href="https://twitter.com/davidbjourno" target="_blank">David Blood</a> and <a href="https://twitter.com/sdbernard">Steve Bernard</a></span>
          <span class="article__byline--updated">Published <time class="article__timestamp">{{publishdate}}</time></span>
        </p>

        <p class="o-typography-lead introtext">
          {{{introtext}}}
        </p>

          <div class="slider-holder">
              <div class="slider"></div>
          </div>
          <div class="key-holder">
              <div class="key-item">
                  <div class="key-title">Breakdown of pay, {{chartYear}}</div>
              </div>
              <div class="key-item">
                  <div class="key-marker-line base"></div>
                  <div class="key-text">Base salary</div>
              </div>
              <div class="key-item">
                  <div class="key-marker-line cashbonus"></div>
                  <div class="key-text">Cash bonus</div>
              </div>
              <div class="key-item">
                  <div class="key-marker-line other"></div>
                  <div class="key-text">Stock, options and other</div>
              </div>
              <div class="total-label">Total</div>
          </div>
      </div>

      <div data-o-grid-colspan="L10 M10 S12 center" class="chart-panel">
        <div class="chart"></div>
        <div class="key-holder">
          <div class="key-text" style="margin-left: 0; padding-bottom: 16px;">&#42; Includes replacement award.</div>
          <div class="key-text" style="margin-left: 0"><strong>Notes</strong><br>Compensation includes salaries, bonuses awarded for that year's performance, pensions and other pay. 2015 salaries were annualised for new CEOs at BBVA, Barclays, Credit Suisse, Deutsche Bank and Standard Chartered; 2014 salary was annualised for RBC. Salaries for Barclays, HSBC, Lloyds, Standard Chartered and Royal Bank of Scotland include fixed pay allowances. 'Replacement awards' given to their new chief executives in lieu of lost shares/earnings are included in 2015 figures for Standard Chartered (c$10m), Credit Suisse (c$15m) and Barclays (c$2m). Net income and salaries for all banks have been converted to USD using average annual exchange rates.
          </div>
        </div>
        <br>
      </div>

      <hr>

      <div class="bio-panel" data-o-grid-colspan="L8 M10 S12">
        <div class="bio" id="AnshuJain">
          <div id="profile-name">Anshu Jain</div>
          <h3 class="company-name">Former Co-CEO, Deutsche Bank</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_jain.jpg" /></div>
          <div id="profile-txt">
            <p>
              Life at Deutsche Bank was rarely easy during Anshu Jain’s three years as the bank’s co-CEO. Deutsche came under <a href="http://www.ft.com/cms/s/0/87ded282-e191-11e3-9999-00144feabdc0.html">pressure from shareholders</a> over its plans to raise €8bn, money it had previously insisted it didn’t need. The bank’s core strategy remained in question, despite months of soul-searching and a five-year plan immediately lambasted for its scant detail. Mr Jain, like his co-CEO Jürgen Fitschen, announced his resignation in June 2015 but stayed on as a consultant to Deutsche Bank until January 2016.
            </p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="AntónioHorta-Osório">
          <div id="profile-name">António Horta-Osório</div>
          <h3 class="company-name">CEO, Lloyds Banking Group</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_horta.jpg" /></div>
          <div id="profile-txt">
            <p>
              Last year marked a turning point António Horta Osório’s tenure at Lloyds after he was given the green light by the UK regulator to <a href="http://www.ft.com/cms/s/0/58984af0-be4d-11e4-8036-00144feab7de.html">restart dividend payments for the first time since the financial crisis</a>. The watershed moment buoyed shares in the state-backed bank as income-seeking fund managers were once again allowed to own the stock. The government was able to sell about 16 per cent of its stake in the bank in 2015, and plans for a retail share sale were unveiled by the government last October. But chancellor George Osborne was forced to postpone the sale at the start of this year largely due to volatile markets. Challenges for 2016 include the ongoing payment protection insurance mis-selling debacle, which has so far forced the bank to set aside £16bn.
            </p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="AntonyJenkins">
          <div id="profile-name">Antony Jenkins</div>
          <h3 class="company-name">Former CEO, Barclays</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_jenkins.jpg" /></div>
          <div id="profile-txt">
            <p>
              Antony Jenkins was so pleased with Barclays’ 2014 performance that he <a href="http://www.ft.com/cms/s/0/48dc4866-c184-11e4-8b74-00144feab7de.html">took his first bonus since taking on the CEO’s role in mid-2012</a>. It was to be his last year at the helm - in July 2015, the bank's newly-arrived chairman John McFarlane saw Jenkins off in brutal fashion, saying the bank needed a “new set of skills”. Jenkins later told the BBC: “I’m a human being, so I have to say that it was surprising to me… The bank was performing very well.” Jenkins had clashed with investment bank boss Tom King over the pace of the investment bank's restructuring, which was to include 7,000 job cuts under a plan announced in May 2014.
            </p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="BillWinters">
          <div id="profile-name">Bill Winters</div>
          <h3 class="company-name">CEO, Standard Chartered</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_winters.jpg" /></div>
          <div id="profile-txt">
            <p>
              Specialising in emerging markets helped Standard Chartered to come through the 2008 financial crisis in better shape than most rivals. But since then a combination of a regulatory crackdown on sanctions breaches and spiralling losses from risky lending has caused its star to fall. The clean up job fell to Bill Winters, a former JPMorgan Chase executive, who had spent the past few years running his own debt fund and helping to shape UK banking regulation. Since taking over at StanChart a year ago, Mr Winters has replaced many top managers, launched a drastic restructuring and repaired the balance sheet with a $5.1bn rights issue. The bank made a record $1.5bn loss last year and shares are down 50 per cent since Mr Winters took over, but there were some nascent signs of recovery when it returned to profit in the first quarter.
            </p>
          </div>
          <div class="bio-chart"></div>
          <div class="key-text" style="margin-left: 0; color: #505050">&#42; Includes replacement award.</div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="BradyDougan">
          <div id="profile-name">Brady Dougan</div>
          <h3 class="company-name">Former CEO, Credit Suisse Group</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_dougan.jpg" /></div>
          <div id="profile-txt">
            <p>
              After 25 years at Credit Suisse, Brady Dougan might have hoped to go out on a higher note than 2014. During his last full year at the helm, the bank reported its largest quarterly loss since the financial crisis after <a href="http://www.ft.com/cms/s/0/829347f8-df6c-11e3-8842-00144feabdc0.html?siteedition=intl">paying $2.6bn</a> for helping US citizens evade tax. Switzerland’s second-largest lender ultimately reported a net loss of SFr3.1bn for the year, worse than its 2013 result, in an environment where most banks were seeing improving trends. Throughout the year, Mr Dougan also faced repeated questions about Credit Suisse’s capital adequacy and was criticised for allocating too much capital to its investment bank. His successor, Tidjane Thiam, took over on July 1 2015 and is expected to allocate more resources to Credit Suisse’s private bank.
            </p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="BrianMoynihan">
          <div id="profile-name">Brian Moynihan</div>
          <h3 class="company-name">Chairman, President and CEO, Bank of America</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_moynihan.jpg" /></div>
          <div id="profile-txt">
            <p>
              The bank Brian Moynihan runs is about $100bn lighter in assets than the Bank of America he took over in 2010 and there is a better balance between consumer and wholesale revenues. The balance sheet is not as risky. Mr Moynihan, chairman and chief executive, keeps saying there’ll be “no excuses” now for sub-par growth and that management is determined to hit its targets – a 12 per cent target for return on equity and a 1 per cent return on assets – “as fast as possible.” In recent quarters, though, he has been no way near. In the absence of a rise in interest rates, Mr Moynihan’s best bet for improving profits looks like hammering down on costs.
            </p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="CarlosVila">
          <div id="profile-name">Carlos Vila</div>
          <h3 class="company-name">CEO, Banco Bilbao Vizcaya Argentaria</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_vila.jpg" /></div>
          <div id="profile-txt">
            <p>
              A graduate of the Massachusetts Institute of Technology, where he studied electrical engineering and management, Carlos Torres Vila rose quickly through the ranks after joining Banco Bilbao Vizcaya Argentaria from McKinsey eight years ago. His experience outside of banking and good grasp of technology as head of digital made Mr Vila a natural choice when executive chairman Francisco González picked a new chief executive in May 2015. With operations stretching from Mexico to Turkey, the Spanish bank is widely seen as being a pioneer on technology compared with most of its main rivals. It underlined its bold approach in this area by acquiring a 30 per cent stake in Atom Bank, the UK’s first digital-only lender, last year. BBVA’s profits were flat in 2015, but dropped by more than 50 per cent in the first quarter, showing that it is not immune to the sector-wide challenge of low interest rates.
            </p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="DavidMcKay">
          <div id="profile-name">David McKay</div>
          <h3 class="company-name">President and CEO, Royal Bank of Canada</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_mckay.jpg" /></div>
          <div id="profile-txt">
            <p>
              David McKay is another relatively new bank CEO, having only taken over the management of Canada’s biggest bank (by market value) in August 2014. But the Canadian is an RBC veteran who has worked with the bank since 1988. His first full year at the helm was a big one – RBC bought “Hollywood’s Banker” City National for $5.4bn in January, marking the biggest acquisition of a US bank in four years. Mr McKay told reporters earlier this year that the acquisition would allow RBC to double its $1bn a year US earnings within the next seven years. The bank posted annual earnings of C$10bn in the year to October 31, up 11 per cent on the previous year, despite falling earnings in its wealth management, insurance and treasury services business.
            </p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="FranciscoGonzález">
          <div id="profile-name">Francisco González</div>
          <h3 class="company-name">Former CEO, Banco Bilbao Vizcaya Argentaria</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_gonzalez.jpg" /></div>
          <div id="profile-txt">
            <p>
              He is one of Europe’s oldest-serving bank bosses but Francisco González’s <a href="http://www.ft.com/cms/s/0/bbbfebc4-b79f-11e4-981d-00144feab7de.html">pioneering approach to digital banking</a> has earned him a reputation for being one of the continent’s most modern banks as well. During 2014 he invested in BBVA’s own IT systems, bought US digital bank Simple and <a href="http://www.ft.com/cms/s/0/b6f63e4c-a0af-11e4-9aee-00144feab7de.html#axzz3QhN7Sg29">invested in bitcoin company Coinbase</a>. The septuagenarian also found time to pen an article on banking’s digital future for the prestigious MIT Technology Review. He continues to serve as BBVA's chairman, while Carlos Vila has been chief executive since mid-2015.
            </p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="FrédéricOudéa">
          <div id="profile-name">Frédéric Oudéa</div>
          <h3 class="company-name">CEO, Société Générale</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_oudea.jpg" /></div>
          <div id="profile-txt">
            <p>
              Frédéric Oudéa began 2015 by losing half his job, after former European Central Bank executive board member Lorenzo Bini Smaghi took over the chairman role Mr Oudéa had previously held in parallel to being CEO of Société Générale. It was by no means a quiet year for the Frenchman. He was appointed chairman of the European Banking Federation, putting himself front and centre on major policy issues including the capital markets union, eurozone bank regulation and whether policymakers are doing enough to prevent the demise of Europe’s investment banks. SocGen had an active year as well – it was among the most exposed European banks to a sharp fall in oil prices, and also found itself on the wrong side of volatile markets. In February 2016, the bank admitted its 10 per cent return on equity target was “unconfirmed given current headwinds,” sparking fear amongst investors.
            </p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="JamieDimon">
          <div id="profile-name">Jamie Dimon</div>
          <h3 class="company-name">Chairman, President and CEO, JPMorgan Chase</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_dimon.jpg" /></div>
          <div id="profile-txt">
            <p>
              Not a single shareholder spoke out at the annual meeting of JPMorgan, the biggest US bank by assets, which was held in May in New Orleans. There was also very limited support for a range of proposals from shareholders, including one to set up a committee to examine the rationale for a break-up. That is not to say that Jamie Dimon, chairman and chief executive, has nothing to worry about: like all the big banks, he needs consistently higher interest rates to boost profits, and the question of succession is one that won’t go away. But after a decade at the helm, Mr Dimon has a record of delivering consistent returns second only to John Stumpf at Wells Fargo. That has given him the confidence to act as an elder statesman of the industry, routinely holding forth on matters such as financial regulation, stress-testing and the relationship between big banks and small.
            </p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="JamesGorman">
          <div id="profile-name">James Gorman</div>
          <h3 class="company-name">Chairman and CEO, Morgan Stanley</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_gorman.jpg" /></div>
          <div id="profile-txt">
            <p>
              James Gorman began 2016 on the back foot. Morgan Stanley’s efforts to reshape its fixed-income trading business had been a failure so far, he said, as he begged for investors’ patience so he could complete the job. But, six months on, there’s still some unease over the radical reshaping of a business in a market gripped by tighter regulation, a shift to electronic trading and stop-start activity among clients. Investors are generally happier with Project Streamline, an unglamorous plan to boost margins by, in part, uprooting back-office jobs to cheaper locations. Still, the market expects returns on equity of 6.5 per cent and 7.8 per cent in 2016 and 2017, respectively – well short of the bank’s target range of 9 to 11 per cent.
            </p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="JavierMarín">
          <div id="profile-name">Javier Marín</div>
          <h3 class="company-name">Former CEO, Banco Santander</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_romano.jpg" /></div>
          <div id="profile-txt">
            <p>
              Javier Marín’s two-year run as Santander CEO came to an end in November 2014 when he was unseated in a <a href="http://www.ft.com/cms/s/0/f34e974a-7710-11e4-944f-00144feabdc0.html">management reshuffle</a> by the bank’s new executive chairman Ana Botin, who had taken over following the death of her father Emilio Botin. During Mr Marín’s last year at the top, Santander’s <a href="http://www.ft.com/cms/s/0/1e91b0be-ab77-11e4-8070-00144feab7de.html">profits rose 70 per cent</a> as loan losses fell from their pre-crisis highs and the bank came through the European Central Bank’s debut stress test with no shortfall. Still, Santander’s rejuvenated management began 2015 with a €7.5bn capital raise to boost its equity to a more comfortable position.
            </p>
          </div>
          <div class="bio-chart"></div>
          <div class="key-text" style="margin-left: 0; color: #505050">&#42; Includes replacement award.</div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="JesStaley">
          <div id="profile-name">Jes Staley</div>
          <h3 class="company-name">CEO, Barclays</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_staley.jpg" /></div>
          <div id="profile-txt">
            <p>
              Hired in December 2015 to accelerate the restructuring of Barclays, Jes Staley has wasted little time. The former JPMorgan Chase executive has refreshed the top management, put its big African unit up for sale and retreated from smaller operations in Asia, Latin America and continental Europe to focus on its core US and UK markets. A hiring freeze has helped to cut its workforce of almost 130,000 people by over 8,000. One-off restructuring and conduct charges dragged the bank into the red last year. Mr Staley has said “it is fair to question whether bankers lost their moral compass… because of the single-minded pursuit of personal wealth” in recent decades. Investors were irritated that dividends for the next two years were cut by 50 per cent, while bonuses fell only 10 per cent last year.
            </p>
          </div>
          <div class="bio-chart"></div>
          <div class="key-text" style="margin-left: 0; color: #505050">&#42; Includes replacement award.</div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="JohnCryan">
          <div id="profile-name">John Cryan</div>
          <h3 class="company-name">Co-Chairman and Co-CEO, Deutsche Bank</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_cryan.jpg" /></div>
          <div id="profile-txt">
            <p>
              John Cryan became co-chief executive of Deutsche Bank in July 2015, after Anshu Jain stepped down in the wake of a big rebellion at the bank’s annual shareholder meeting. He took sole charge of Germany’s biggest lender when Jürgen Fitschen left in May 2016. Mr Cryan spent his first months in the top job thrashing out the finer points of Deutsche’s new five-year strategy, which was lambasted for being short on detail when Mr Jain and Mr Fitschen unveiled it in April 2015. He has also made waves with his forthright approach – calling Deutsche’s systems “lousy” and saying he did not understand why bonuses should make bankers work harder. So far, however, the going has been tough. Deutsche made a €6.8bn loss for 2015, and is battling with a host of legal wrangles which could weigh on its profits this year. Questions about the bank’s capital levels – a longstanding topic – also remain.
            </p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="JohnStumpf">
          <div id="profile-name">John Stumpf</div>
          <h3 class="company-name">Chairman, President and CEO, Wells Fargo</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_stumpf.jpg" /></div>
          <div id="profile-txt">
            <p>
              San Francisco-based Wells Fargo has been the best-performing of the big six US banks since the financial crisis, consistently producing a double-digit return on equity on an annual basis. So when Wells said in May that it would cut its two main profit targets – blaming low interest rates, tougher rules on holding liquid assets and higher provisions to cover bad loans – other banks took notice. A lot of the bank’s growth in earnings-per-share over the past three years has come from releasing reserves for loan losses and buying back shares. What else has chief executive John Stumpf got up his sleeve?
            </p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="JoséÁlvarez">
          <div id="profile-name">José Álvarez</div>
          <h3 class="company-name">CEO, Banco Santander</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_álvarez.jpg"></div>
          <div id="profile-txt">
            <p>
              Shares in Banco Santander have almost halved since José Antonio Álvarez was appointed chief executive of the eurozone’s biggest bank by market capitalisation in November 2014. Santander’s former chief financial officer is respected by investors, though he operates in the shadow of Ana Botín, who became executive chairman after the death of her late father Emilio almost two years ago. Mr Álvarez conceded earlier this year that the bank is grappling with a “challenging environment” as low interest rates squeeze profit margins. It is closing branches and trimming staff numbers to cut €3bn of costs as it tries to offset problems in its large Brazilian and US operations. Even after a €7.5bn share sale at the start of 2015, there remain questions over Santander’s core capital ratio, which is lower than most major rivals.
            </p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="JürgenFitschen">
          <div id="profile-name">Jürgen Fitschen</div>
          <h3 class="company-name">Co-Chairman and Co-CEO, Deutsche Bank</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_fitschen.jpg" /></div>
          <div id="profile-txt">
            <p>
              Having announced last summer that he would step down as co-chief executive of Deutsche Bank in May 2016, Jürgen Fitschen's final months at Germany's biggest lender were overshadowed by his involvement in a long-running legal case. In April, after a year-long trial, Mr Fitschen and his co-defendants were finally acquitted of trying to mislead a court in connection with the collapse of the Kirch media empire, giving the veteran banker a boost three weeks before he stepped down from the top job. He will not sever his links with the bank completely, however. At its annual shareholder meeting, Deutsche revealed that Mr Fitschen – who remains one of the best-connected corporate bankers in Germany – would continue to “serve” the bank in Asia and Germany.
            </p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="LloydBlankfein">
          <div id="profile-name">Lloyd Blankfein</div>
          <h3 class="company-name">Chairman and CEO, Goldman Sachs Group</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_blankfein.jpg" /></div>
          <div id="profile-txt">
            <p>
              Kicking off a financial-industry conference in New York in early February, Lloyd Blankfein could have been forgiven a little gallows humour. Markets were tanking, and the chairman and chief executive of Goldman Sachs had recently come through 600 hours of chemotherapy. “I heard that this is the large-cap section,” he said. “I’m glad we still qualify, with what’s going on.” Ten years into the job, Mr Blankfein is still trying to make the bank less exposed to swings in financial markets, building up fee-based businesses such as asset management and investment banking while pushing into new areas such as retail banking. But profits are still lower, and more volatile, than he would like. Returning the bank to a return on equity in the mid-teens could be one good way of going out on a high.
            </p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="MichaelCorbat">
          <div id="profile-name">Michael Corbat</div>
          <h3 class="company-name">CEO, Citigroup</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_corbat.jpg" /></div>
          <div id="profile-txt">
            <p>
              Citigroup made a big statement when it announced in April that it would no longer break out results for Citi Holdings, its ragbag of non-core assets held over from the 2008 crisis. The division had shrunk a lot, but more importantly, said Mike Corbat, chief executive, it was no longer appropriate for Citi to keep harking back to the past. Eight years on, he said, the bank is “a simpler, smaller, safer and stronger institution.” But if all the upheaval and restructuring really is in the past, then Citi needs to generate better returns on what is left. Return on equity came to 6.4 per cent in the first quarter. The bank has hit 8 per cent just once since the crisis.
            </p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="MikeSmith">
          <div id="profile-name">Mike Smith</div>
          <h3 class="company-name">CEO, ANZ</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_smith.jpg" /></div>
          <div id="profile-txt">
            <p>
              Mike Smith’s eight-year tenure as chief executive of Australia’s third-largest bank by assets ended last December. The owner of a fleet of Aston Martin and Jaguar cars, he helped build the bank’s Asian presence. It was something of a thankless job, as ANZ’s share price performance lagged behind most its locally focused rivals. His departure has coincided with a number of crises at the bank: ANZ is being sued by the markets regulator over allegations of rate rigging and a former trader has alleged there was a toxic trading room culture in an unfair dismissal case. Mr Smith will continue to be paid his base annual salary of A$3.4m on a monthly basis until July 7 2016 when a period of “gardening leave” ends. He has been busy in the property market, reportedly buying a luxury apartment in Melbourne’s so called “Tower of Power” development, which includes influential and wealthy residents. He is also selling his 1,475-square-metre Melbourne estate, complete with a swimming pool and a tennis court with built-in seating.
            </p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="PeterSands">
          <div id="profile-name">Peter Sands</div>
          <h3 class="company-name">Former CEO, Standard Chartered</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_sands.jpg" /></div>
          <div id="profile-txt">
            <p>
              Peter Sands was one of the longest serving chief executives at a major global bank when his eight year run at Standard Chartered came to a close in June 2015. The bank's assets expanded rapidly during his tenure from $266bn at the end of 2006 to around $700bn in 2015. But when StanChart's share price went into a spiral that left it down about 50 per cent from their peak, Mr Sands found himself under fire from investors who said he had over-reached.  One of Mr Sands' last acts as CEO was to <a href="http://www.ft.com/cms/s/0/06508694-c24a-11e4-bd9f-00144feab7de.html#axzz4E67Wfeie">waive his bonus</a> after announcing a 37 per cent fall in annual net profits. He has since <a href="http://www.ft.com/cms/s/0/a852e062-57c9-11e5-9846-de406ccb37f2.html#axzz4E67Wfeie">become an adviser to Downing Street</a>.
            </p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="RossMcEwan">
          <div id="profile-name">Ross McEwan</div>
          <h3 class="company-name">CEO, Royal Bank of Scotland Group</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_mcewan.jpg" /></div>
          <div id="profile-txt">
            <p>
              Ross McEwan presided over RBS’s eighth consecutive annual loss last year, taking losses since the financial crisis above the £50bn mark. It wasn’t all bad news for the New Zealand-born chief executive though. RBS completed the sale of its US investment bank Citizens last year, and offloaded the international arm of private bank Coutts. Chancellor George Osborne also kicked off the UK’s largest ever privatisation, by selling a 5 per cent stake in the bank albeit at a £1.1bn loss to taxpayers, taking the government’s holding down to 73 per cent. Mr McEwan also won praise for giving a £1m role-based allowance to charity. This year will involve more restructuring and RBS has recently warned it could miss an EU-imposed deadline of selling its challenger bank Williams &amp; Glyn by the end of 2017.
            </p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="SergioErmotti">
          <div id="profile-name">Sergio Ermotti</div>
          <h3 class="company-name">CEO, UBS</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_ermotti.jpg" /></div>
          <div id="profile-txt">
            <p>
              Few bank CEOs are better placed to fall under a bus than UBS's Sergio Ermotti. The suave Swiss-Italian went into 2015 with three candidates vying to be his replacement – investment bank boss Andrea Orcel, wealth management boss Juerg Zeltner and wealth management Americas boss Tom Naratil. This year he threw another name into the mix – former Commerzbank chief executive Martin Blessing, who has just joined the bank as head of its Swiss business. Mr Ermotti is coming to the end of his fifth year as CEO and things are quieting down. The bank has had some legal woes to grapple with of late but its biggest dramas are behind it, and it continues to win plaudits for having restructured its investment bank a lot sooner than European rivals. Mr Ermotti has not given any indication of when he will step down, but if he is an adrenaline junkie, it might be sooner rather than later.
            </p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="StuartGulliver">
          <div id="profile-name">Stuart Gulliver</div>
          <h3 class="company-name">CEO, HSBC</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_gulliver.jpg" /></div>
          <div id="profile-txt">
            <p>
              The board of Europe’s biggest bank by market capitalisation decided earlier this year to keep its headquarters in the UK, after a 10-month review of whether to return to its original base of Hong Kong. Now its focus has turned to succession. HSBC is searching for a new chairman to replace Douglas Flint by next year. The board will then seek a replacement for Stuart Gulliver, who has led the bank since stepping up from running its investment bank at the start of 2011. HSBC shares have dropped more than a third since Mr Gulliver took over and the bank has missed several performance targets. He presented a new plan last year, based on a “pivot to Asia” that shifts resources away from underperforming areas such as Brazil, where it sold its operations, to more attractive markets such as the Pearl River Delta in China.
            </p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="TidjaneThiam">
          <div id="profile-name">Tidjane Thiam</div>
          <h3 class="company-name">CEO, Credit Suisse Group</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_thiam.jpg" /></div>
          <div id="profile-txt">
            <p>
              It’s been a rollercoaster ride for Tidjane Thiam since he started as CEO of Credit Suisse in July 2015. The former Prudential CEO's appointment was initially met with a hero’s welcome – and an 8 per cent surge in the bank’s share price – as investors bet he was the man to take Credit Suisse into its next era. The first cracks appeared in October, when a strategic review and a $6bn capital raise failed to impress. Then, a sharp markets downturn in the final quarter pushed the Swiss bank to its first loss in eight years, and prompted Mr Thiam to ask his board for a 40 per cent cut to the bonus they offered him. A year into the role, Mr Thiam faces more challenges than ever. His bank’s shares have lost more than half their value in the past year, parts of his investment bank are in open revolt over his restructuring plans, and his credibility took a battering after his admission that he “didn’t know” about a distressed debt position that triggered a $1bn loss.
            </p>
          </div>
          <div class="bio-chart"></div>
          <div class="key-text" style="margin-left: 0; color: #505050">&#42; Includes replacement award.</div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="WilliamDowne">
          <div id="profile-name">William Downe</div>
          <h3 class="company-name">CEO, Bank of Montreal</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_downe.jpg" /></div>
          <div id="profile-txt">
            <p>
              William Downe had been primed for the top job at Bank of Montreal for years but his chance did not come until the eve of the financial crisis in 2007. He went on to post eight consecutive quarters of earning declines. Yet the Canadian lender’s more recent performance has been better; its shares have outperformed Toronto-listed financial stocks in the past three years. Mr Downe has made international expansion an important plank of the bank’s post-crisis strategy, demonstrated by the £700m acquisition in 2014 of the UK’s F&amp;C, the manager of the City of London’s oldest investment fund, and the $4.1bn purchase of Wisconsin-based lender Marshall and Ilsley. The Montreal native has spent a big chunk of his career in the US, including postings in Houston and Denver, and still divides his time between Chicago and Toronto. The University of Toronto MBA graduate has worked for the bank since 1983, when he began as a credit analyst.
            </p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

      </div>

      <div class="credits" data-o-grid-colspan="L8 M10 S12"></div>
  </div>
</div>

<footer class="o-footer o-footer--theme-light" data-o-component="o-footer">
  <div class="o-footer__row o-footer__copyright">
    <div class="o-footer__col o-footer__col--full-width">
      <span>&#xA9; THE FINANCIAL TIMES LTD 2016.</span>
      <span><abbr title="Financial Times">FT</abbr> and &#x2018;Financial Times&#x2019; are trademarks of The Financial Times Ltd.</span>
    </div>
  </div>
  <div class="o-footer__pearson">
    <div class="o-footer__row">
      <div class="o-footer__col o-footer__col--full-width">
        <div class="o-footer__pearson-tagline" aria-label="Always Learning"></div>
        <div class="o-footer__pearson-logo" aria-label="Pearson"></div>
      </div>
    </div>
  </div>
</footer>
