<header id="ft-header">
  <a href="//www.ft.com/"><img src="//interactivegraphics.ft-static.com/sites/2014/deficit-calculator/images/content/ft.svg" alt="Financial Times" height="20"></a>
</header>

<div class="o-grid-container">
  <div class="o-grid-row">
      <div data-o-grid-colspan="L10 M10 S12 center" class="main-panel">
          <h1>{{introtitle}}</h1>
          <div class="introtext">{{{introtext}}}</div>
          <div class="slider-holder">
              <div class="slider"></div>
          </div>
          <div class="key-holder">
              <div class="key-item">
                  <div class="key-title">Breakdown of pay, {{chartYear}}</div>
              </div>
              <div class="key-item">
                  <div class="key-marker-line base"></div>
                  <div class="key-text">Base salary</div>
              </div>
              <div class="key-item">
                  <div class="key-marker-line cashbonus"></div>
                  <div class="key-text">Cash bonus</div>
              </div>
              <div class="key-item">
                  <div class="key-marker-line other"></div>
                  <div class="key-text">Stock, options and other</div>
              </div>
              <div class="total-label">Total</div>
          </div>
          <div class="chart"></div>
      </div>
      <hr>
      <div class="bio-panel" data-o-grid-colspan="L8 M10 S12">

        <div class="bio" id="AntónioHorta-Osório">
          <div id="profile-name">António Horta-Osório</div>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_horta.jpg"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="BrianMoynihan">
          <div id="profile-name">Brian Moynihan</div>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_moynihan.jpg"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="JamieDimon">
          <div id="profile-name">Jamie Dimon</div>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_dimon.jpg"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="JamesGorman">
          <div id="profile-name">James Gorman</div>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_gorman.jpg"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="JohnStumpf">
          <div id="profile-name">John Stumpf</div>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_stumpf.jpg"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="JürgenFitschen">
          <div id="profile-name">Jürgen Fitschen</div>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_fitschen.jpg"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="LloydBlankfein">
          <div id="profile-name">Lloyd Blankfein</div>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_blankfein.jpg"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="MichaelCorbat">
          <div id="profile-name">Michael Corbat</div>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_corbat.jpg"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="RossMcEwan">
          <div id="profile-name">Ross McEwan</div>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_mcewan.jpg"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="StuartGulliver">
          <div id="profile-name">Stuart Gulliver</div>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_gulliver.jpg"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="JesStaley">
          <div id="profile-name">Jes Staley</div>
          <div id="main-pic"><img src="https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Florempixel.com%2F128%2F128%2Fcats%2F?source=ig&amp;width=128&amp;height=128&amp;format=png&amp;quality=lowest"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="TidjaneThiam">
          <div id="profile-name">Tidjane Thiam</div>
          <div id="main-pic"><img src="https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Florempixel.com%2F128%2F128%2Fcats%2F?source=ig&amp;width=128&amp;height=128&amp;format=png&amp;quality=lowest"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="JohnCryan">
          <div id="profile-name">John Cryan</div>
          <div id="main-pic"><img src="https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Florempixel.com%2F128%2F128%2Fcats%2F?source=ig&amp;width=128&amp;height=128&amp;format=png&amp;quality=lowest"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="JoséÁlvarez">
          <div id="profile-name">José Álvarez</div>
          <div id="main-pic"><img src="https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Florempixel.com%2F128%2F128%2Fcats%2F?source=ig&amp;width=128&amp;height=128&amp;format=png&amp;quality=lowest"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

      </div>
      <div class="credits" data-o-grid-colspan="L8 M10 S12"></div>
  </div>
</div>

<footer class="o-footer o-footer--theme-light" data-o-component="o-footer">
  <div class="o-footer__row o-footer__copyright">
    <div class="o-footer__col o-footer__col--full-width">
      <span>&#xA9; THE FINANCIAL TIMES LTD 2016.</span>
      <span><abbr title="Financial Times">FT</abbr> and &#x2018;Financial Times&#x2019; are trademarks of The Financial Times Ltd.</span>
    </div>
  </div>
  <div class="o-footer__pearson">
    <div class="o-footer__row">
      <div class="o-footer__col o-footer__col--full-width">
        <div class="o-footer__pearson-tagline" aria-label="Always Learning"></div>
        <div class="o-footer__pearson-logo" aria-label="Pearson"></div>
      </div>
    </div>
  </div>
</footer>
