<header id="ft-header">
  <a href="//www.ft.com/"><img src="//interactivegraphics.ft-static.com/sites/2014/deficit-calculator/images/content/ft.svg" alt="Financial Times" height="20"></a>
</header>

<div class="o-grid-container">
  <div class="o-grid-row">
      <div data-o-grid-colspan="L10 M10 S12 center" class="main-panel">
          <h1>{{introtitle}}</h1>
          <div class="introtext">{{{introtext}}}</div>
          <aside class="share-links"><a href="https://twitter.com" target="_blank" title="Share on Twitter" class="share-links__link share-links__link--twitter"><span>Share on Twitter</span></a><a href="https://facebook.com/sharer/sharer.php?u=ft.com%2Fexpats" target="_blank" title="Share on Facebook" class="share-links__link share-links__link--facebook"><span>Share on Facebook</span></a><a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.ft.com%2Fexpats&amp;title=Many%20Britons%20abroad%20are%20eligible%20to%20vote%20in%20the%20EU%20referendum.%20Here's%20what%20they%20think%20of%20Brexit&amp;summary=FT%20survey%20aggregates%20the%20British%20expat%20perspective%20from%20more%20than%20300%20readers%20across%2053%20countries&amp;source=https%3A%2F%2Fwww.ft.com%2Fexpats" target="_blank" title="Share on LinkedIn" class="share-links__link share-links__link--linkedin"><span>Share on LinkedIn</span></a></aside>
          <div class="slider-holder">
              <div class="slider"></div>
          </div>
          <div class="key-holder">
              <div class="key-item">
                  <div class="key-title">Breakdown of pay, {{chartYear}}</div>
              </div>
              <div class="key-item">
                  <div class="key-marker-line base"></div>
                  <div class="key-text">Base salary</div>
              </div>
              <div class="key-item">
                  <div class="key-marker-line cashbonus"></div>
                  <div class="key-text">Cash bonus</div>
              </div>
              <div class="key-item">
                  <div class="key-marker-line other"></div>
                  <div class="key-text">Stock, options and other</div>
              </div>
              <div class="total-label">Total</div>
          </div>
      </div>

      <div data-o-grid-colspan="L10 M10 S12 center" class="chart-panel">
        <div class="chart"></div>
        <div class="key-holder">
          <div class="key-item" style="float: right; margin-right: 0">
            <div class="key-text">&#8224; Indicates incoming/outgoing CEO's pro-rated pay</div>
          </div>
          <div class="key-item" style="float: right; margin-right: 0">
            <div class="key-text">&#42; Indicates predecessor's pay</div>
          </div>
        </div>
        <br>
      </div>

      <hr>

      <div class="bio-panel" data-o-grid-colspan="L8 M10 S12">

        <div class="bio" id="AntónioHorta-Osório">
          <div id="profile-name">António Horta-Osório</div>
          <h3 class="company-name">CEO, Lloyds Banking Group</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_horta.jpg"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="BillWinters">
          <div id="profile-name">Bill Winters</div>
          <h3 class="company-name">CEO, Standard Chartered</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_winters.jpg"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="BrianMoynihan">
          <div id="profile-name">Brian Moynihan</div>
          <h3 class="company-name">Chairman, President and CEO, Bank of America</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_moynihan.jpg"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="CarlosVila">
          <div id="profile-name">Carlos Vila</div>
          <h3 class="company-name">CEO, Banco Bilbao Vizcaya Argentaria</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_vila.jpg"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="DavidMcKay">
          <div id="profile-name">David McKay</div>
          <h3 class="company-name">President and CEO, Royal Bank of Canada</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_mckay.jpg"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="FrédéricOudéa">
          <div id="profile-name">Frédéric Oudéa</div>
          <h3 class="company-name">CEO, Société Générale</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_oudea.jpg"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="JamieDimon">
          <div id="profile-name">Jamie Dimon</div>
          <h3 class="company-name">Chairman, President and CEO, JPMorgan Chase</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_dimon.jpg"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="JamesGorman">
          <div id="profile-name">James Gorman</div>
          <h3 class="company-name">Chairman and CEO, Morgan Stanley</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_gorman.jpg"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="JesStaley">
          <div id="profile-name">Jes Staley</div>
          <h3 class="company-name">CEO, Barclays</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_staley.jpg"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="JohnCryan">
          <div id="profile-name">John Cryan</div>
          <h3 class="company-name">Co-Chairman and Co-CEO, Deutsche Bank</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_cryan.jpg"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="JohnStumpf">
          <div id="profile-name">John Stumpf</div>
          <h3 class="company-name">Chairman, President and CEO, Wells Fargo</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_stumpf.jpg"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="JoséÁlvarez">
          <div id="profile-name">José Álvarez</div>
          <h3 class="company-name">CEO, Banco Santander</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_álvarez.jpg"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="JürgenFitschen">
          <div id="profile-name">Jürgen Fitschen</div>
          <h3 class="company-name">Co-Chairman and Co-CEO, Deutsche Bank</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_fitschen.jpg"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="LloydBlankfein">
          <div id="profile-name">Lloyd Blankfein</div>
          <h3 class="company-name">Chairman and CEO, Goldman Sachs Group</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_blankfein.jpg"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="MichaelCorbat">
          <div id="profile-name">Michael Corbat</div>
          <h3 class="company-name">CEO, Citigroup</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_corbat.jpg"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="MikeSmith">
          <div id="profile-name">Mike Smith</div>
          <h3 class="company-name">CEO, ANZ</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_smith.jpg"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="RossMcEwan">
          <div id="profile-name">Ross McEwan</div>
          <h3 class="company-name">CEO, Royal Bank of Scotland Group</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_mcewan.jpg"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="SergioErmotti">
          <div id="profile-name">Sergio Ermotti</div>
          <h3 class="company-name">CEO, UBS</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_ermotti.jpg"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="StuartGulliver">
          <div id="profile-name">Stuart Gulliver</div>
          <h3 class="company-name">CEO, HSBC</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_gulliver.jpg"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="TidjaneThiam">
          <div id="profile-name">Tidjane Thiam</div>
          <h3 class="company-name">CEO, Credit Suisse Group</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_thiam.jpg"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="WilliamDowne">
          <div id="profile-name">William Downe</div>
          <h3 class="company-name">CEO, Bank of Montreal</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_downe.jpg"></div>
          <div id="profile-txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

      </div>
      <div class="credits" data-o-grid-colspan="L8 M10 S12"></div>
  </div>
</div>

<footer class="o-footer o-footer--theme-light" data-o-component="o-footer">
  <div class="o-footer__row o-footer__copyright">
    <div class="o-footer__col o-footer__col--full-width">
      <span>&#xA9; THE FINANCIAL TIMES LTD 2016.</span>
      <span><abbr title="Financial Times">FT</abbr> and &#x2018;Financial Times&#x2019; are trademarks of The Financial Times Ltd.</span>
    </div>
  </div>
  <div class="o-footer__pearson">
    <div class="o-footer__row">
      <div class="o-footer__col o-footer__col--full-width">
        <div class="o-footer__pearson-tagline" aria-label="Always Learning"></div>
        <div class="o-footer__pearson-logo" aria-label="Pearson"></div>
      </div>
    </div>
  </div>
</footer>
