<header id="ft-header">
  <a href="//www.ft.com/"><img src="//interactivegraphics.ft-static.com/sites/2014/deficit-calculator/images/content/ft.svg" alt="Financial Times" height="20"></a>
</header>

<div class="o-grid-container">
  <div class="o-grid-row">
      <div data-o-grid-colspan="L10 M10 S12 center" class="main-panel">
          <h1>{{introtitle}}</h1>
          <div class="introtext">{{{introtext}}}</div>
          <aside class="share-links"><a href="https://twitter.com/intent/tweet?url=https://ig.ft.com/sites/2016/bank-ceos-pay/&amp;text=Bank%20chief%20executives'%20pay%202013-2015&amp;related=%40FT&amp;via=FT" target="_blank" title="Share on Twitter" class="share-links__link share-links__link--twitter"><span>Share on Twitter</span></a><a href="https://facebook.com/sharer/sharer.php?u=https://ig.ft.com%2Fsites%2F2016%2Fbank-ceos-pay" target="_blank" title="Share on Facebook" class="share-links__link share-links__link--facebook"><span>Share on Facebook</span></a><a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fig.ft.com%2Fsites%2F2016%2Fbank-ceos-pay&amp;title=Bank%20chief%20executives'%20pay%202013-2015" target="_blank" title="Share on LinkedIn" class="share-links__link share-links__link--linkedin"><span>Share on LinkedIn</span></a></aside>
          <div class="slider-holder">
              <div class="slider"></div>
          </div>
          <div class="key-holder">
              <div class="key-item">
                  <div class="key-title">Breakdown of pay, {{chartYear}}</div>
              </div>
              <div class="key-item">
                  <div class="key-marker-line base"></div>
                  <div class="key-text">Base salary</div>
              </div>
              <div class="key-item">
                  <div class="key-marker-line cashbonus"></div>
                  <div class="key-text">Cash bonus</div>
              </div>
              <div class="key-item">
                  <div class="key-marker-line other"></div>
                  <div class="key-text">Stock, options and other</div>
              </div>
              <div class="total-label">Total</div>
          </div>
      </div>

      <div data-o-grid-colspan="L10 M10 S12 center" class="chart-panel">
        <div class="chart"></div>
        <div class="key-holder">
          <div class="key-text" style="margin-left: 0; padding-bottom: 16px;">&#42; Includes replacement award.</div>
          <div class="key-text" style="margin-left: 0"><strong>Notes</strong><br>Compensation includes salaries, bonuses awarded for that year's performance, pensions and other pay. 2015 salaries were annualised for new CEOs at BBVA, Barclays, Credit Suisse, Deutsche Bank and Standard Chartered; 2014 salary was annualised for RBC. Salaries for Barclays, HSBC, Lloyds, Standard Chartered and Royal Bank of Scotland include fixed pay allowances. 'Replacement awards' given to their new chief executives in lieu of lost shares/earnings are included in 2015 figures for Standard Chartered (c$10m), Credit Suisse (c$15m) and Barclays (c$2m). Where there has been a change in CEO – at Standard Chartered, BBVA, Deutsche Bank, Barclays, Santander and Credit Suisse – 2014 figures are for the CEO who was in place at the time. Net income and salaries for all banks have been converted to USD using average annual exchange rates.
          </div>
        </div>
        <br>
      </div>

      <hr>

      <div class="bio-panel" data-o-grid-colspan="L8 M10 S12">

        <div class="bio" id="AntónioHorta-Osório">
          <div id="profile-name">António Horta-Osório</div>
          <h3 class="company-name">CEO, Lloyds Banking Group</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_horta.jpg"></div>
          <div id="profile-txt">
            <p>Lloyds claimed a watershed year in 2014 as the bank <a href="http://www.ft.com/cms/s/0/58984af0-be4d-11e4-8036-00144feab7de.html">turned its first profit since its 2008 bailout</a> and announced its first dividend payment. Mr Horta-Osório, the Portuguese banker who took over as CEO in 2011, was quick to point out the significance of the dividend – that it would boost the bank’s appeal to commercial interests, helping the government to “reduce its stake at an even quicker pace”. The government, which ploughed £20bn into Lloyds, began selling shares in November 2013. Its stake has fallen from 41 per cent to below 17 per cent. The bank’s profits have rallied amid lower charges for loan losses and a decline in compensation costs for customers who were mis-sold payment protection insurance.<br><small>Martin Arnold</small></p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="BillWinters">
          <div id="profile-name">Bill Winters</div>
          <h3 class="company-name">CEO, Standard Chartered</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_winters.jpg"></div>
          <div id="profile-txt">
            <p>Specialising in emerging markets helped Standard Chartered to come through the 2008 financial crisis in better shape than most rivals. But since then a combination of a regulatory crackdown on sanction breaches and spiralling losses from risky lending has caused its star to fall. The clean up job fell to Bill Winters, a former JPMorgan Chase executive, who had spent the past few years running his own debt fund and helping to shape UK banking regulation. Since taking over at StanChart a year ago, Mr Winters has replaced many top managers, launched a drastic restructuring and repaired the balance sheet with a $5.1bn rights issue. The bank made a record $1.5bn loss last year and shares are down 50 per cent since Mr Winters took over, but there were some nascent signs of recovery when it returned to profit in the first quarter.<br><small>Martin Arnold</small></p>
          </div>
          <div class="bio-chart"></div>
          <div class="key-text" style="margin-left: 0; color: #505050">&#42; Includes replacement award.</div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="BrianMoynihan">
          <div id="profile-name">Brian Moynihan</div>
          <h3 class="company-name">Chairman, President and CEO, Bank of America</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_moynihan.jpg"></div>
          <div id="profile-txt">
            <p>The bank Brian Moynihan runs is about $100bn lighter in assets than the bank he took over in 2010. There’s a better balance between consumer and wholesale revenues. The balance sheet is not as risky. Mr Moynihan, chairman and chief executive, keeps saying there’ll be “no excuses” now for sub-par growth, and that management is determined to hit its targets – a 12 per cent target for return on equity and a 1 per cent return on assets – “as fast as possible.” In recent quarters, though, he has been no way near. A rise in interest rates would probably boost BofA more than any other big bank. But in the absence of that, Mr Moynihan’s best bet for improving profits looks like hammering down on costs.<br><small>Ben McLannahan</small></p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="CarlosVila">
          <div id="profile-name">Carlos Vila</div>
          <h3 class="company-name">CEO, Banco Bilbao Vizcaya Argentaria</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_vila.jpg"></div>
          <div id="profile-txt">
            <p>A graduate of the Massachusetts Institute of Technology, where he studied electrical engineering and management, Carlos Torres Vila rose quickly through the ranks after joining Banco Bilbao Vizcaya Argentaria eight years ago. The former McKinsey consultant’s experience outside of banking and good grasp of technology made him a natural choice for Francisco Gonzalez, its executive chairman, to promote from head of digital to chief executive in May 2015. With operations stretching from Mexico to Turkey, the Spanish bank is widely seen as being a pioneer on technology compared to most of its main rivals. It underlined its bold approach in this area by acquiring a 30 per cent stake in Atom Bank, the UK’s first digital-only lender, last year. BBVA’s profits were flat in 2015, but dropped more than 50 per cent in the first quarter, showing that it is not immune to the sector-wide challenge of low interest rates.<br><small>Martin Arnold</small></p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="DavidMcKay">
          <div id="profile-name">David McKay</div>
          <h3 class="company-name">President and CEO, Royal Bank of Canada</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_mckay.jpg"></div>
          <div id="profile-txt">
            <p>Mr McKay is another relatively new bank CEO, having only taken over the management of Canada’s biggest bank (by market value) in August 2014. Unlike the new crop of European bank CEOs who came into their roles this year, the Canadian is an RBC veteran who has worked with the bank since 1988. His first full year at the helm was a big one – RBC bought ‘Hollywood’s Banker’ City National for $5.4bn in January, marking the biggest acquisition of a US bank in four years. McKay told reporters earlier this year that the acquisition would allow RBC to double its $1bn a year US earnings within the next seven years. The bank posted annual earnings of C$10bn in the year to October 31, up 11 per cent on the previous year, despite falling earnings in its wealth management, insurance and treasury services business.<br><small>Laura Noonan</small></p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="FrédéricOudéa">
          <div id="profile-name">Frédéric Oudéa</div>
          <h3 class="company-name">CEO, Société Générale</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_oudea.jpg"></div>
          <div id="profile-txt">
            <p>Frédéric Oudéa began 2015 by losing half his job, after former European Central Bank executive board member Lorenzo Bini Smaghi took over the chairman role Mr Oudéa had previously held in parallel to being CEO. It was by no means a quiet year for the Frenchman though. He was appointed chairman of the European Banking Federation, putting himself front and centre on major policy issues including the capital markets union, euro zone bank regulation and whether policymakers are doing enough to prevent the demise of Europe’s investment banks. Société Générale had an active year as well – it was amongst the most exposed European banks to a sharp fall in oil prices, and also found itself on the wrong side of volatile markets. In February 2016, the bank admitted its 10 per cent return on equity target was “unconfirmed given current headwinds”, sparking fear amongst investors. Shares are now trading in the low €30s, down from a high of over €48 in August 2015.<br><small>Laura Noonan</small></p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="JamieDimon">
          <div id="profile-name">Jamie Dimon</div>
          <h3 class="company-name">Chairman, President and CEO, JPMorgan Chase</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_dimon.jpg"></div>
          <div id="profile-txt">
            <p>Not a single shareholder spoke out at the annual meeting of JPMorgan, the biggest US bank by assets, which was held in May in New Orleans. There was also very limited support for a range of proposals from shareholders, including one to set up a committee to examine the rationale for a break-up. That is not to say that Jamie Dimon, chairman and chief executive, has nothing to worry about: like all the big banks, he needs consistently higher interest rates to boost profits, and the question of succession is one that won’t go away. But after a decade at the helm, Mr Dimon has a record of delivering consistent returns second only to John Stumpf at Wells Fargo. That has given him the confidence to act as an elder statesman of the industry, routinely holding forth on matters such as financial regulation, stress-testing and the relationship between big banks and small.<br><small>Ben McLannahan</small></p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="JamesGorman">
          <div id="profile-name">James Gorman</div>
          <h3 class="company-name">Chairman and CEO, Morgan Stanley</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_gorman.jpg"></div>
          <div id="profile-txt">
            <p>James Gorman began 2016 on the back foot. The bank’s efforts to reshape its fixed-income trading business had been a failure so far, he said, while begging investors’ patience so he could complete the job. But six months on, there’s still some unease over the radical reshaping of a business in a market gripped by tighter regulation, a shift to electronic trading and stop-start activity among clients. Investors are generally happier with Project Streamline, an unglamorous plan to boost margins by, in part, uprooting back-office jobs to cheaper locations. Still, the market expects ROEs of 6.5 per cent and 7.8 per cent in 2016 and 2017, respectively – well short of the bank’s target range of 9 to 11 per cent.<br><small>Ben McLannahan</small></p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="JesStaley">
          <div id="profile-name">Jes Staley</div>
          <h3 class="company-name">CEO, Barclays</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_staley.jpg"></div>
          <div id="profile-txt">
            <p>Hired in December to accelerate the restructuring of Barclays, Jes Staley has wasted little time. The former JPMorgan Chase executive has refreshed the top management, put its big African unit up for sale and retreated from smaller operations in Asia, Latin America and continental Europe to focus on its core US and UK markets. A hiring freeze has helped to cut its workforce of almost 130,000 people by over 8,000. One-off restructuring and conduct charges dragged the bank into the red last year, but in the first quarter investors were encouraged by a smaller drop in investment banking revenue than suffered by most rivals. Mr Staley has said “it is fair to question whether bankers lost their moral compass... because of the single minded pursuit of personal wealth” in recent decades. Yet investors were irritated that dividends for the next two years were cut by 50 per cent, while bonuses fell only 10 per cent last year.<br><small>Martin Arnold</small></p>
          </div>
          <div class="bio-chart"></div>
          <div class="key-text" style="margin-left: 0; color: #505050">&#42; Includes replacement award.</div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="JohnCryan">
          <div id="profile-name">John Cryan</div>
          <h3 class="company-name">Co-Chairman and Co-CEO, Deutsche Bank</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_cryan.jpg"></div>
          <div id="profile-txt">
            <p>John Cryan became co-chief executive of Deutsche Bank in July 2015, after Anshu Jain stepped down in the wake of a big shareholder rebellion at the bank’s annual shareholder meeting, and took sole charge of Germany’s biggest lender when Jürgen Fitschen exited in May 2016. Mr Cryan spent his first months in the top job thrashing out the finer points of Deutsche’s new five-year strategy, which was lambasted for being short on detail when Mr Jain and Mr Fitschen unveiled it in April 2015. He has also made waves with his forthright approach – calling Deutsche’s systems “lousy” and saying he did not understand why bonuses should make bankers work harder. So far, however, the going has been tough. Deutsche made a €6.8bn loss for 2015, and is also battling with a host of legal wrangles which could weigh on its profits this year. Questions about the bank’s capital levels – a longstanding topic – also remain.<br><small>James Shotter</small></p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="JohnStumpf">
          <div id="profile-name">John Stumpf</div>
          <h3 class="company-name">Chairman, President and CEO, Wells Fargo</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_stumpf.jpg"></div>
          <div id="profile-txt">
            <p>If things are tough out there for Wells Fargo, pity the rest. The San Francisco-based bank has been the best-performing of the big six US banks since the financial crisis, consistently producing a double-digit return on equity on an annual basis. So when Wells said in May that it would cut its two main profit targets – blaming low interest rates, tougher rules on holding liquid assets and higher provisions to cover bad loans – other banks took notice. A lot of the bank’s growth in earnings-per-share over the past three years has come from releasing reserves for loan losses and buying back shares. What else has John Stumpf got up his sleeve?<br><small>Ben McLannahan</small></p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="JoséÁlvarez">
          <div id="profile-name">José Álvarez</div>
          <h3 class="company-name">CEO, Banco Santander</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_álvarez.jpg"></div>
          <div id="profile-txt">
            <p>Shares in Banco Santander have almost halved since José Antonio Álvarez was appointed chief executive of the eurozone’s biggest bank by market capitalisation in November 2014. Santander’s former chief financial officer is respected by investors, though he operates in the shadow of Ana Botín, who became executive chairman after the death of her late father Emilio almost two years ago. Mr Álvarez conceded earlier this year that the bank is grappling with a “challenging environment” as low interest rates squeeze profit margins. It is closing branches and trimming staff numbers to cut €3bn of costs as it tries to offset problems in its large Brazilian and US operations. Even after a €7.5bn share sale at the start of 2015, there remain questions over Santander’s core capital ratio, which is lower than most major rivals.<br><small>Martin Arnold</small></p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="JürgenFitschen">
          <div id="profile-name">Jürgen Fitschen</div>
          <h3 class="company-name">Co-Chairman and Co-CEO, Deutsche Bank</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_fitschen.jpg"></div>
          <div id="profile-txt">
            <p>Having announced last summer that he would step down as co-chief executive of Deutsche Bank in May 2016, Jürgen Fitschen's final months at Germany's biggest lender were overshadowed by his involvement in a long-running legal case. In April, after a year-long trial, Mr Fitschen and his co-defendants were finally acquitted of trying to mislead a court in connection with the collapse of the Kirch media empire, giving the veteran banker a boost three weeks before he stepped down from the top job. He will not sever his links with the bank completely, however. At its annual shareholder meeting, Deutsche revealed that Mr Fitschen – who remains one of the best-connected corporate bankers in Germany – would continue to "serve" the bank in Asia and Germany.<br><small>James Shotter</small></p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="LloydBlankfein">
          <div id="profile-name">Lloyd Blankfein</div>
          <h3 class="company-name">Chairman and CEO, Goldman Sachs Group</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_blankfein.jpg"></div>
          <div id="profile-txt">
            <p>Kicking off a financial-industry conference in New York in early February, Lloyd Blankfein could have been forgiven a little gallows humour. Markets were tanking, and the chairman and chief executive of Goldman Sachs had recently come through 600 hours of chemotherapy. “I heard that this is the large-cap section,” he said. “I’m glad we still qualify, with what’s going on.” Ten years into the job, Mr Blankfein is still trying to make the bank less exposed to swings in financial markets, building up fee-based businesses such as asset management and investment banking while pushing into new areas such as retail banking. But profits are still lower, and more volatile, than he’d like. Returning the bank to an ROE in the mid-teens could be one good way of going out on a high.<br><small>Ben McLannahan</small></p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="MichaelCorbat">
          <div id="profile-name">Michael Corbat</div>
          <h3 class="company-name">CEO, Citigroup</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_corbat.jpg"></div>
          <div id="profile-txt">
            <p>Citigroup made a big statement when it announced in April that it would no longer break out results for Citi Holdings, its ragbag of non-core assets held over from the crisis. The division had shrunk a lot, but more importantly, said Mike Corbat, chief executive, it was no longer appropriate for Citi to keep harking back to the Lehman era. Eight years on, he said, the bank is “a simpler, smaller, safer and stronger institution.” But if all the upheaval and restructuring really is in the past, then Citi needs to generate better returns on what is left. Return on equity came to 6.4 per cent in the first quarter. The bank has hit 8 per cent just once since the crisis.<br><small>Ben McLannahan</small></p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="MikeSmith">
          <div id="profile-name">Mike Smith</div>
          <h3 class="company-name">CEO, ANZ</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_smith.jpg"></div>
          <div id="profile-txt">
            <p>Mike Smith’s eight year tenure as chief executive of Australia’s third largest bank by assets ended last December. The colorful banker, who owns a fleet of Aston Martin and Jaguar cars, helped build the bank’s Asian presence. It was something of a thankless job, with ANZ’s share price performance lagging behind most its locally focused rivals. His departure has coincided with a number of crises at the bank: ANZ is being sued by the markets regulator over allegations of rate rigging and a former trader has alleged a toxic trading room culture in an unfair dismissal case. Mr Smith will continue to be paid his base annual salary of A$3.4m on a monthly basis until July 7 2016 when a period of “gardening leave” ends. He has been busy in the property market, reportedly buying a luxury apartment in Melbourne’s so called “Tower of Power” development, which includes influential and wealthy residents. He is also selling his 1475-square-metre Melbourne estate, complete with a swimming pool and a tennis court with built-in seating.<br><small>Jamie Smyth</small></p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="RossMcEwan">
          <div id="profile-name">Ross McEwan</div>
          <h3 class="company-name">CEO, Royal Bank of Scotland Group</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_mcewan.jpg"></div>
          <div id="profile-txt">
            <p>Ross McEwan presided over RBS’s eighth consecutive annual loss last year, taking losses since the financial crisis above the £50bn mark. It wasn’t all bad news for the New Zealand-born chief executive though. RBS completed the sale of its US investment bank Citizens last year, and offloaded the international arm of private bank Coutts. And Chancellor George Osborne kicked off the UK’s largest ever privatisation, by selling a 5 per cent stake in the bank albeit at a £1.1bn loss to taxpayers, taking the government’s holding down to 73 per cent. Mr McEwan also won praise for giving a £1m role-based allowance to charity. This year will involve more restructuring, and RBS has recently warned it could miss an EU-imposed deadline of selling its challenger bank Williams & Glyn by the end of 2017.<br><small>Emma Dunkley</small></p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="SergioErmotti">
          <div id="profile-name">Sergio Ermotti</div>
          <h3 class="company-name">CEO, UBS</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_ermotti.jpg"></div>
          <div id="profile-txt">
            <p>Few bank CEOs are better placed to fall under a bus than Sergio Ermotti. The suave Swiss-Italian went into 2015 with three candidates vying to be his replacement – investment bank boss Andrea Orcel, wealth management boss Juerg Zeltner and wealth management Americas boss Tom Naratil. This year he threw another name into the mix – former Commerzbank chief executive Martin Blessing, who has just joined the bank as head of its Swiss business. Mr Ermotti is coming to the end of his fifth year as UBS CEO and things are quietening down. The bank has had some legal woes to grapple with of late but its biggest dramas are behind it, and it continues to win plaudits for doing the heavy lifting in its investment bank restructuring a lot sooner than European rivals Deutsche Bank and Credit Suisse. Mr Ermotti has not given any indication of when he will step down, but if he’s an adrenalin junkie, it might be sooner rather than later.<br><small>Laura Noonan</small></p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="StuartGulliver">
          <div id="profile-name">Stuart Gulliver</div>
          <h3 class="company-name">CEO, HSBC</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_gulliver.jpg"></div>
          <div id="profile-txt">
            <p>Since the board of Europe’s biggest bank by market capitalisation decided earlier this year to keep its headquarters in the UK, after a 10-month review of whether to return to its original base of Hong Kong, its focus has turned to succession. The bank is searching for a new chairman to replace Douglas Flint by next year. The board will then seek a replacement for Stuart Gulliver, who has led the bank since stepping up from running its investment bank at the start of 2011. HSBC shares have dropped more than a third since Mr Gulliver took over and the bank has missed several performance targets. He presented a new plan last year, based on a “pivot to Asia” that shifts resources away from underperforming areas such as Brazil, where it sold its operations, to more attractive markets such as the Pearl River Delta in China.<br><small>Martin Arnold</small></p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="TidjaneThiam">
          <div id="profile-name">Tidjane Thiam</div>
          <h3 class="company-name">CEO, Credit Suisse Group</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_thiam.jpg"></div>
          <div id="profile-txt">
            <p>It’s been a rollercoaster ride for Tidjane Thiam since he was appointed CEO of Credit Suisse in March 2015. The former Prudential CEO was initially met with hero’s welcome – and an 8 percent surge in the bank’s share price – as investors bet he was the man to finally take Credit Suisse into its next era. The first cracks appeared in October, when a strategic review and a $6bn capital raise failed to impress. Then, a sharp markets downturn in the final quarter pushed the Swiss bank to its first loss in eight years, and prompted Mr Thiam to ask his board for a 40 per cent cut to the bonus they offered him. A year into the role he started last July (after working his notice at the Pru), Mr Thiam faces more challenges than ever. His bank’s shares have lost more than half their value in the last year, parts of his investment bank are in open revolt over his restructuring plans, and his credibility took a battering after his admission that he “didn’t know” about a distressed debt position that triggered a $1bn loss.<br><small>Laura Noonan</small></p>
          </div>
          <div class="bio-chart"></div>
          <div class="key-text" style="margin-left: 0; color: #505050">&#42; Includes replacement award.</div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

        <div class="bio" id="WilliamDowne">
          <div id="profile-name">William Downe</div>
          <h3 class="company-name">CEO, Bank of Montreal</h3>
          <div id="main-pic"><img src="http://interactivegraphics.ft-static.com/static/sites/2015/bank-chief-compensation-2015/col_downe.jpg"></div>
          <div id="profile-txt">
            <p>William Downe had been primed for the top job at Bank of Montreal for years but his chance did not come until the eve of the financial crisis in 2007. He went on to post eight consecutive quarters of earning declines. Yet the Canadian lender’s more recent performance has been better; its shares have outperformed Toronto listed financial stocks in the past three years. The 64 year-old has made international expansion an important plank of the bank’s post-crisis strategy, demonstrated by the £700m acquisition in 2014 of the UK’s F&amp;C, the manager of the City of London’s oldest investment fund, and the $4.1bn purchase in 2011 of the Wisconsin-based lender Marshall and Ilsley. The Montreal native has spent a big chunk of his career in the US, including postings in Houston and Denver, and still divides his time between Chicago and Toronto. The University of Toronto MBA graduate has worked for the bank since 1983, when he began as a credit analyst.<br><small>Alistair Gray</small></p>
          </div>
          <div class="bio-chart"></div>
          <a class="top-link" href="#ft-header"> Back to chart</a>
        </div>

      </div>
      <div class="credits" data-o-grid-colspan="L8 M10 S12"></div>
  </div>
</div>

<footer class="o-footer o-footer--theme-light" data-o-component="o-footer">
  <div class="o-footer__row o-footer__copyright">
    <div class="o-footer__col o-footer__col--full-width">
      <span>&#xA9; THE FINANCIAL TIMES LTD 2016.</span>
      <span><abbr title="Financial Times">FT</abbr> and &#x2018;Financial Times&#x2019; are trademarks of The Financial Times Ltd.</span>
    </div>
  </div>
  <div class="o-footer__pearson">
    <div class="o-footer__row">
      <div class="o-footer__col o-footer__col--full-width">
        <div class="o-footer__pearson-tagline" aria-label="Always Learning"></div>
        <div class="o-footer__pearson-logo" aria-label="Pearson"></div>
      </div>
    </div>
  </div>
</footer>
