<header id="ft-header">
  <a href="//www.ft.com/"><img src="//interactivegraphics.ft-static.com/sites/2014/deficit-calculator/images/content/ft.svg" alt="Financial Times" height="20"></a>
</header>

<div class="o-grid-container">
  <div class="o-grid-row">
      <div data-o-grid-colspan="L10 M10 S12 center" class="main-panel">
          <h1>{{introtitle}}</h1>
          <div class="introtext">{{{introtext}}}</div>
          <aside class="share-links"><a href="https://twitter.com" target="_blank" title="Share on Twitter" class="share-links__link share-links__link--twitter"><span>Share on Twitter</span></a><a href="https://facebook.com/sharer/sharer.php?u=ft.com%2Fexpats" target="_blank" title="Share on Facebook" class="share-links__link share-links__link--facebook"><span>Share on Facebook</span></a><a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.ft.com%2Fexpats&amp;title=Many%20Britons%20abroad%20are%20eligible%20to%20vote%20in%20the%20EU%20referendum.%20Here's%20what%20they%20think%20of%20Brexit&amp;summary=FT%20survey%20aggregates%20the%20British%20expat%20perspective%20from%20more%20than%20300%20readers%20across%2053%20countries&amp;source=https%3A%2F%2Fwww.ft.com%2Fexpats" target="_blank" title="Share on LinkedIn" class="share-links__link share-links__link--linkedin"><span>Share on LinkedIn</span></a></aside>
          <div class="slider-holder">
              <div class="slider"></div>
          </div>
          <div class="key-holder">
              <div class="key-item">
                  <div class="key-title">Breakdown of pay, {{chartYear}}</div>
              </div>
              <div class="key-item">
                  <div class="key-marker-line base"></div>
                  <div class="key-text">Base salary</div>
              </div>
              <div class="key-item">
                  <div class="key-marker-line cashbonus"></div>
                  <div class="key-text">Cash bonus</div>
              </div>
              <div class="key-item">
                  <div class="key-marker-line other"></div>
                  <div class="key-text">Stock, options and other</div>
              </div>
              <div class="total-label">Total</div>
          </div>
          <div class="chart"></div>
      </div>
      <hr>
      <div class="bio-panel" data-o-grid-colspan="L8 M10 S12"></div>
      <div class="credits" data-o-grid-colspan="L8 M10 S12"></div>
  </div>
</div>

<footer class="o-footer o-footer--theme-light" data-o-component="o-footer">
  <div class="o-footer__row o-footer__copyright">
    <div class="o-footer__col o-footer__col--full-width">
      <span>&#xA9; THE FINANCIAL TIMES LTD 2016.</span>
      <span><abbr title="Financial Times">FT</abbr> and &#x2018;Financial Times&#x2019; are trademarks of The Financial Times Ltd.</span>
    </div>
  </div>
  <div class="o-footer__pearson">
    <div class="o-footer__row">
      <div class="o-footer__col o-footer__col--full-width">
        <div class="o-footer__pearson-tagline" aria-label="Always Learning"></div>
        <div class="o-footer__pearson-logo" aria-label="Pearson"></div>
      </div>
    </div>
  </div>
</footer>
